<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 style="font-size: 2rem">express - passport</h1>
    <a style="font-size: 1.5rem" href="/auth/github">login</a>
  </body>
</html>
