<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>express Oauth</h1>
    <a style="margin: 1rem; display: inline-block" href="/auth/github"
      >login with github</a
    >
    <br />
    <a style="margin: 1rem; display: inline-block" href="/auth/google"
      >login with google</a
    >
  </body>
</html>
